<body>
    livre:
    {% for livre in livres %}
        <li>
            {{ livre.titre }} ==>
            <a href="/livre/{{ livre.id }}">
                détails
            </a>
        </li>
    {% endfor %}

    <a href="/">
        accueil
    </a>
</body>
