<body>
    <div> Liste des livre:
    {% for livre in livres %}
        <li>
            {{ livre.titre }} ==>
            <a href="/livre/{{ livre.id }}">
                détails
            </a>
        </li>
    {% endfor %}
    </div>

    <div>




    <a href="/">
        accueil
    </a>
</body>
